img{
    width: 50px;
}
body{
    align-items: center;
      justify-content: center;
    display: flex;
    flex-direction:column;
    font-family: Comic Sans MS, Comic Sans, cursive;
}
.food{
    width:100%;
}
.recipe{
    border: 2px solid black;
    border-radius: 10px;
    padding: 2%;
    margin: 10%;
    column-gap: 3%;
    row-gap: 3%
}
.tag{
    font-size: larger;
    
     border: 1px solid black;
     text-align: left;
     padding-left: 10px;
     padding-right: 10px;
     padding-top: 5px;
     padding-bottom: 5px;
}
.title{
    color:aqua;
}
h1{
    text-align: center;
    font-size: 40px;
    margin: -10%;
    margin-top: 30px;
    margin-bottom: 20px;
}
button{
    width: 30px;
    height: 30px;
}
button img{
width: 100%;
}
header{
  margin: auto;
  width: 50%;
}
#site-search{
    height: 35px;
    width: 80%;
}
.description{
    display: none;
}

@media (min-width: 1200px) {
    .recipe{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 2/3;
        column-gap: 3%;
        row-gap: 3%;
    }
    .food{
        grid-column:1 2 ;
        grid-row: 1/9;
        margin-right: 10%;
    }
    .description{
        display: unset;
    }
    footer{
        display:unset;
        
    }
    #recipeIcon{
        float: left;
        margin-left: -120%;        
    }
    .social{
        display: flex;
        column-gap: 20px;
        float: right;
        margin-right: -120%;
    }
}